html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  background-color: #ececec;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
}
.app_content {
  padding: 50px 100px;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  padding: 0 100px;
  background: #054158;
  color: white;
  white-space: nowrap;
  font-size: 1.2rem;
}

.nav .title {
  font-weight: bold;
}

.nav > * {
  display: block;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.nav a:visited {
  color: inherit;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.1)
}
.nav a:active {
  background-color: rgba(255, 255, 255, 0.1)
}